body {
  margin: 0 auto;
}
button {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
}

.s-pop-up-menu {
  position: absolute;
  z-index: 9999;
  width: 100px;
  background-color: #fff;
  width: 100px;
  font-size: 0.8em;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  white-space: nowrap;
  .s-pop-up-menu-item {
    cursor: pointer;
    padding: 8px;
    color: #444040;
    position: relative;
    .item-label {
      margin-left: 10px;
    }
  }
  .s-pop-up-menu-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .item-disabled {
    cursor: not-allowed;
    color: #999;
    text-shadow:
      -1px 0 #fff,
      0 1px #fff,
      1px 0 #fff,
      0 -1px #fff;
  }
  .item-enabled:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    color: #fff;
  }
}

.s-icon {
  --color: inherit;
  align-items: center;
  display: inline-flex;
  margin: 0 5px;
  // display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  position: relative;
  fill: currentColor;
  color: var(--color);
  font-size: inherit;
}

.s-click-copy-parent {
  position: relative;
}
.s-click-copy-parent:hover {
  .click-copy-icon {
    display: inline-block;
  }
}

.s-click-copy {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 12px;
  color: #409eff;
  cursor: pointer;
}
