$--snail-chinese-color-安安蓝: #3170a7;
$--snail-chinese-color-品蓝: #2b73af;
$--snail-chinese-color-花青: #2376b7;
$--snail-chinese-color-靛青: #1661ab;
$--snail-chinese-color-虹蓝: #2177b8;
$--snail-chinese-color-潮蓝: #2983bb;
$--snail-chinese-color-群青: #1772b4;
$--snail-chinese-color-晴蓝: #5698c3;
$--snail-color-primary: #1a94bc;
$--snail-color-success: #5cb85c;
$--snail-color-info: #5bc0de;
$--snail-color-warning: #f0ad4e;
$--snail-color-danger: #d9534f;
:root {
    --snail-chinese-color-安安蓝: #{$--snail-chinese-color-安安蓝};
    --snail-chinese-color-品蓝: #{$--snail-chinese-color-品蓝};
    --snail-chinese-color-花青: #{$--snail-chinese-color-花青};
    --snail-chinese-color-靛青: #{$--snail-chinese-color-靛青};
    --snail-chinese-color-虹蓝: #{$--snail-chinese-color-虹蓝};
    --snail-chinese-color-潮蓝: #{$--snail-chinese-color-潮蓝};
    --snail-chinese-color-群青: #{$--snail-chinese-color-群青};
    --snail-chinese-color-晴蓝: #{$--snail-chinese-color-晴蓝};
    --snail-color-primary: #{$--snail-color-primary};
    --snail-color-success: #{$--snail-color-success};
    --snail-color-info: #{$--snail-color-info};
    --snail-color-warning: #{$--snail-color-warning};
    --snail-color-danger: #{$--snail-color-danger};
}
