body {
  margin: 0 auto;
}
// button {
//   outline: none;
//   border: none;
//   border-radius: 8px;
//   padding: 5px 10px;
//   cursor: pointer;
// }

.s-pop-up-menu {
  position: absolute;
  z-index: 9999;
  width: 100px;
  background-color: #fff;
  font-size: 0.8em;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  white-space: nowrap;
  .s-pop-up-menu-item {
    cursor: pointer;
    padding: 8px;
    color: #444040;
    position: relative;
    .item-label {
      margin-left: 10px;
    }
    .child-item {
      display: none;
      position: absolute;
      left: 100%;
      top: 0;
      padding-left: 0;
    }
  }

  .s-pop-up-menu-item:hover {
    background-color: var(--hover-color);
    .child-item {
      display: block;
    }
  }
  .s-pop-up-menu-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .item-disabled {
    color: #999;
    text-shadow:
      -1px 0 #fff,
      0 1px #fff,
      1px 0 #fff,
      0 -1px #fff;
  }
  .item-disabled:hover {
    cursor: not-allowed;
    background-color: #fff;
  }
  .item-enabled:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    color: #fff;
  }
}

.s-icon {
  --color: inherit;
  align-items: center;
  display: inline-flex;
  margin: 0 5px;
  // display: flex;
  align-items: center;
  justify-content: center;
  line-height: inherit;
  position: relative;
  fill: currentColor;
  color: var(--color);
  font-size: inherit;
}

.s-click-copy-parent {
  position: relative;
}
.s-click-copy {
  position: absolute;
  // display: none;
  right: 5px;
  bottom: 5px;
  font-size: 12px;
  color: #409eff;
  cursor: pointer;
}
.s-click-copy-message {
  position: absolute;
  // display: none;
  right: 5px;
  bottom: 5px;
  font-size: 12px;
  color: #67c23a;
  cursor: pointer;
}

.s-click-copy-parent .s-click-copy {
  display: none;
}
.s-click-copy-parent:hover .s-click-copy {
  display: inline-block;
}

.s-word-cloud {
  position: relative;
  font-size: 1em;
  background-color: transparent;
}

.s-word-cloud-tag {
  position: absolute;
  cursor: pointer;
}
