@font-face {
  font-family: "iconfont"; /* Project id 4585646 */
  src: url('iconfont.woff2?t=1736304868316') format('woff2'),
       url('iconfont.woff?t=1736304868316') format('woff'),
       url('iconfont.ttf?t=1736304868316') format('truetype'),
       url('iconfont.svg?t=1736304868316#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\e608";
}

.icon-erweima:before {
  content: "\e6c5";
}

.icon-mima:before {
  content: "\e6cb";
}

.icon-jian:before {
  content: "\e715";
}

.icon-plus:before {
  content: "\e633";
}

.icon-hetongqianshu:before {
  content: "\e666";
}

.icon-hetong:before {
  content: "\e615";
}

.icon-card1:before {
  content: "\e640";
}

.icon-empower1:before {
  content: "\e884";
}

.icon-print1:before {
  content: "\e67a";
}

.icon-pdf:before {
  content: "\e67b";
}

.icon-file-upload:before {
  content: "\e74c";
}

.icon-Location:before {
  content: "\e625";
}

.icon-File-download:before {
  content: "\e74d";
}

.icon-permission1:before {
  content: "\e674";
}

.icon-table:before {
  content: "\e86c";
}

.icon-File-download-fill:before {
  content: "\e641";
}

.icon-File-upload-fill:before {
  content: "\e642";
}

.icon-wenjianjia:before {
  content: "\e600";
}

.icon-copy:before {
  content: "\e744";
}

.icon-delete:before {
  content: "\e63a";
}

.icon-delete1:before {
  content: "\e60c";
}

.icon-project:before {
  content: "\e609";
}

.icon-home:before {
  content: "\e632";
}

.icon-location:before {
  content: "\e634";
}

.icon-weibiaoti5:before {
  content: "\e63f";
}

.icon-set:before {
  content: "\e61e";
}

.icon-wechat:before {
  content: "\e759";
}

.icon-process:before {
  content: "\e6b2";
}

.icon-card:before {
  content: "\e61d";
}

.icon-wenjianjia1:before {
  content: "\ec17";
}

.icon-WIFI:before {
  content: "\e76c";
}

.icon-clouddownload:before {
  content: "\e81b";
}

.icon-cloudupload:before {
  content: "\e81c";
}

.icon-print:before {
  content: "\e857";
}

.icon-wenjianjia2:before {
  content: "\e61f";
}

.icon-edit:before {
  content: "\e6b3";
}

.icon-Snail:before {
  content: "\e8ec";
}

.icon-Snail1:before {
  content: "\ed1d";
}

.icon-Word:before {
  content: "\edd5";
}

.icon-workflow:before {
  content: "\e692";
}

.icon-edit1:before {
  content: "\e62c";
}

.icon-empower:before {
  content: "\e613";
}

.icon-time:before {
  content: "\e607";
}

.icon-jurassic_audit-something:before {
  content: "\e6ef";
}

.icon-copy1:before {
  content: "\e614";
}

.icon-data:before {
  content: "\e624";
}

.icon-link:before {
  content: "\e656";
}

.icon-xiangmu:before {
  content: "\e61c";
}

.icon-qiyeguanli:before {
  content: "\e67f";
}

.icon-caiwuguanli:before {
  content: "\e63d";
}

.icon-usergroup:before {
  content: "\e6ba";
}

.icon-hesuankemuleixing:before {
  content: "\e610";
}

.icon-feiyongkemu:before {
  content: "\e611";
}

.icon-data1:before {
  content: "\e612";
}

.icon-company:before {
  content: "\e61a";
}

.icon-dashboard:before {
  content: "\e78b";
}

.icon-caiwu:before {
  content: "\e718";
}

.icon-Cash-Payment:before {
  content: "\e6e5";
}

.icon-caiwu1:before {
  content: "\e603";
}

.icon-xingzhuang:before {
  content: "\e606";
}

.icon-data2:before {
  content: "\e602";
}

.icon-kemuguanli-:before {
  content: "\e63c";
}

.icon-fa-data:before {
  content: "\e646";
}

.icon-PROJECT:before {
  content: "\ea42";
}

.icon-a-22kemumingcheng:before {
  content: "\e682";
}

.icon-dashboard1:before {
  content: "\e63e";
}

.icon-usergroup1:before {
  content: "\e665";
}

.icon-Excel:before {
  content: "\edde";
}

.icon-permission:before {
  content: "\e61b";
}

